.button {
    background-color: thistle;
    font-size: 12px;
    padding: 12px 28px;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}

.button:hover {
    background-color: thistle;
}

.button:active {
    background-color: thistle;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}