<!DOCTYPE html>
<html lang="en">
<head>

    <title>Crags List</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
        <h1>Crags List</h1>
        <nav>
            



            <div class="dropdown">
                <span>Menu</span>
                <div class="dropdown-content">
                <p><a href="/"style="color: white;">Home</a></li></p>
                <p><a href="/routes"style="color: white;">View Routes</a></p>
                <p><a href ='/routes/new'style="color: white;">Add Route</a></p>
                <p><a href='/crags'style="color: white;">View Crags</a></p>
                <p><a href='/crags/new'style="color: white;">Add Crag</a></p>
                <p><a href='/locations'style="color: white;">View Locations</a></p>
                <p><a href ='/locations/new'style="color: white;">Add Location</a></p>
                </div>
            </div>
        </nav>
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>