<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crags List</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/routes">List routes</a></li>
                <li><a href ='/routes/new'>Add to list</a></li>
                <li><a href='/crags'>view crags</a></li>
                <li><a href='/crags/new'>Add new crag</a></li>
                <li><a href="/routes/routes-climbed">Routes Climbed</a></li>
                <li><a href="/routes/routes-not-climbed">Still to Climb</a></li>
                <li><a href='/locations'>View Locations</a></li>

            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>