<!DOCTYPE html>
<html lang="en">
<head>

    <title>Crags List</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
</head>
<body>
    <header>
        <h1>Crags List</h1>
        <nav>
            



            <div class="dropdown">
                <span>Menu</span>
                <div class="dropdown-content">
                <p><a href="/">Home</a></li></p>
                <p><a href="/routes">View Routes</a></p>
                <p><a href ='/routes/new'>Add Route</a></p>
                <p><a href='/crags'>View Crags</a></p>
                <p><a href='/crags/new'>Add Crag</a></p>
                <p><a href='/locations'>View Locations</a></p>
                <p><a href ='/locations/new'>Add Location</a></p>
                </div>
            </div>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>