{% extends "base.html" %}

{% block content %}

{% for route in all_routes %}
<div class="route">
    <div class="content">
        <div>
            {% if route.climbed != True %}
            Name: {{route.name}}
            Grade: {{route.grade}}
            Crag: <a href="/crags/{{route.crag.id}}">{{route.crag.name}}</a>
            I will climb this!!
            <a href="/routes/{{route.id}}">See This Route</a>
            <a href="/routes/{{route.id}}/edit">Edit This Route</a>
        </div>
            
        <div class="buttons">
            <form class="delete-form" action="/routes/{{route.id}}/delete" method="POST">
                <button class="trash-button">Delete Route</button>
            </form>
        </div>


{% else %}
{% endif %}
{% endfor %}
{% endblock %}