{% extends "base.html" %}

{% block content %}

{% for route in all_routes %}

            {% if route.climbed == True %}
            <div class="route">
                <div class="content">
                    <div>
            Name: {{route.name}}<br>
            Grade: {{route.grade}}<br>
            Crag: <a href="/crags/{{route.crag.id}}">{{route.crag.name}}</a><br>
            I have climbed this!!<br>
            <a href="/routes/{{route.id}}">See This Route</a><br>
            <a href="/routes/{{route.id}}/edit">Edit This Route</a><br>
        </div>
            
        <div class="buttons">
            <form class="delete-form" action="/routes/{{route.id}}/delete" onclick="return confirm('Are you sure you want to delete this item?');" method="POST">
                <button class="trash-button">Delete Route</button>
            </form>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endfor %}
{% endblock %}