{% extends "base.html" %}
<h2>{{route.name}}</h2>
{% block content %}

<div class="show_route">
    <p>Name: {{route.name}}</p>
    <p>Grade: {{route.grade}}</p>
    <p>Crag: <a href="/crags/{{route.crag.id}}">{{route.crag.name}}</a></p>
    <p> {% if route.climbed == True %}
        I have climbed this!!
        {% else %}
        I will climb this</p>

        {% endif %}
    <p><a href="/routes/{{route.id}}/edit">Edit This Route</a></p>

    <div class="buttons">
        <form class="delete-form" action="/routes/{{route.id}}/delete" onclick="return confirm('Are you sure you want to delete this item?');" method="POST">
            <button class="trash-button">Delete Route</button>
        </form>
    </div>
</div>




{% endblock %}