{% extends "base.html" %}

{% block content %}

{% for crag in all_crags %}
<div class="crag">
    <div class="content">
        <div>
            Name: {{crag.name}}
            Location: {{crag.location.name}}
            <a href="/crags/{{crag.id}}">See Crag Details</a>
           
        </div>
            
        <div class="buttons">
            <form class="delete-form" action="/crags/{{crag.id}}/delete" method="POST">
                <button class="trash-button">Delete Crag</button>
            </form>
        </div>
            

    </div>
</div>

{% endfor %}

{% endblock %}