{% extends "base.html" %}

{% block content %}

<div class="local_header">
    <h2>All Locations</h2>
</div>


<div class="container">

{% for location in all_locations %}
<div class="location">
    <div class="content">
        <div>
            Location: {{location.name}}<br>
            <a href="/locations/{{location.id}}"style="color: white;">See Location Details</a><br>
            <a href="/locations/{{location.id}}/edit"style="color: white;">Edit This Location</a><br>

           
        </div>
            
        <div class="buttons">
            <form class="delete-form" action="/locations/{{location.id}}/delete" onclick="return confirm('Are you sure you want to delete this item?');" method="POST">
                <button class="trash-button">Delete Location</button>
            </form>
        </div>    

    </div>
</div>

{% endfor %}
</div>

{% endblock %}